@{
    ViewData["Title"] = $"{@Model.Title} Details";
}

<h1>
    Details for @Model.Title
    <a href="#" data-id="@Model.BookId" data-url="/authors/delete/@Model.BookId" class="delete-link emoji">❌</a>
</h1>

