@{
    ViewData["Title"] = $"{@Model.Title} Details";
}

<h1>
    @Model.Title
    @if(User.IsInRole("Librarian"))
    {
        <a href="/books/edit/@Model.BookId" class="emoji">✏️</a>
        <a href="#" data-id="@Model.BookId" data-url="/authors/delete/@Model.BookId" class="delete-link emoji">❌</a>
    }
</h1>

