@{
    ViewData["Title"] = $"{@Model.Title} Details";
}

<h1>
    @Model.Title
    @if(User.IsInRole("Librarian"))
    {
        <a href="/books/edit/@Model.BookId" class="emoji">✏️</a>
        <a href="#" data-id="@Model.BookId" data-url="/books/delete/@Model.BookId" class="delete-link emoji">❌</a>
    }
</h1>

<h2>Author(s):
    <ul>
        @foreach(AuthorBook ab in Model.AuthorBooks)
        {
            <li>@ab.Author.FullName</li>
        }
    </ul> 
</h2>
